# MySQL Database Configuration
# Copy this to .env and fill in your values (or set these in PowerShell)

DB_NAME=ctlms_db
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=localhost
DB_PORT=3306


SECRET_KEY=40051ed497108449811111f7d8026af7
ALLOWED_HOSTS=
DJANGO_SUPERUSER_EMAIL = admin@gmail.com
DJANGO_SUPERUSER_PASSWORD = admin
DATABASE_URL=postgresql://dbms_97qw_user:PcfQTP55W9stQrNYe8NpzLUoRlHO3CWK@dpg-d6pcv5nafjfc739n7sm0-a/dbms_97qw

