* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f0f0;
}

.header {
    background-position: center;
    background-size: cover;
   
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
     position: relative;
    
}
nav img{
    width: 100px;
    border-radius: 20%;

}
.nav-links{
    flex:1; 
    text-align: right;
    justify-content: space-between;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    

}
.nav-links ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links ul button{
    padding: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5d7b9f;
    color: azure;
    border-radius: 20%;
    font-size: larger;
    cursor: pointer;
}
.nav-links ul button:hover{
    background-color: #f2f0f0;
    color: #5d7b9f;
    border: 1px solid #5d7b9f;
    transition: 1s;
}
.text-box{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    justify-content: center;
    text-align: center;
}
.register{
    display: inline-block;
    padding: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #5d7b9f;
    border-radius: 20px;
    font-size: larger;
    position: relative;
    background: transparent;
    border: 1px  solid #5d7b9f;
    cursor: pointer;
}
.text-box h1{
    font-size: 48px;
    color: #5d7b9f;
}
.text-box p {
    margin: 12px 0 30px;
    font-size: 20px;
}
.register:hover{
    background-color: #5d7b9f;
    color: #f2f0f0;
    transition: 1s;
}
@media (max-width : 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #5d7b9f;
        height: 100vh;
        width: 100vh;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/*services*/

.services{
    width: 60%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50% , -50%);
    justify-content: center;
    text-align: center;
}
.services h1{
    color: #5d7b9f;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.services p {
    color:black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3{
 font-family: Arial, Helvetica, sans-serif;
 color: #5d7b9f;
 text-align: center;
 margin-top: 10px;
 font-weight: 600;
}

.Service-col{
    flex-basis: 41%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 25px;
    padding: 20px 20px;
    background-color: rgba(93, 123, 159, 0.15);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08) ;
    transition: all 0.3s ease;
}
.Service-col:hover{
     background-color: rgba(159, 198, 249, 0.65);
    transform: translateY(-6px)
}
@media (max-width : 700px ) {
    .row{
        flex-direction: column;
    }
}

.Destinations{
    top: 150%;
    width: 80%;
    margin: 350px auto;
    text-align: center;
}

.Destinations h1{
    color: #5d7b9f;
    font-size: 36px;
    margin-bottom: 40px;
}

.dest-col img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
